@import "lesshat";

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.container{   
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  right: 0px;
  margin: 0 auto;
  
}

p{
    color:white;
}
.div-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    .img{
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 200px;
        border-radius: 150px;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;   
        transform:translate(0px);
        -ms-transform:translate(0px); // IE 9 
        -moz-transform:translate(0px); // Firefox 
        -webkit-transform:translate(0px); // Safari and Chrome 
        -o-transform:translate(0px); // Opera 
        -webkit-transition: all 500ms ease-in-out; // IE 9
        -moz-transition: all 500ms ease-in-out; // Firefox
        -ms-transition: all 500ms ease-in-out; // Safari and Chrome 
        -o-transition: all 500ms ease-in-out; // Opera    
    }      
    .text{
        font-family: 'Open Sans';
        position:absolute;
        z-index: -1;
        display:block;
        height: 50%;
        top:50%;
        right:0;
        padding-right:5px;
    }

    &:hover{
        .img{
            transform:translate(-90px,0px);
            -ms-transform:translate(-90px,0px); // IE 9 
            -moz-transform:translate(-90px,0px); // Firefox 
            -webkit-transform:translate(-90px,0px); // Safari and Chrome 
            -o-transform:translate(-90px,0px); // Opera
        }
     } 
}


        
        footer {
            background: grey;
            height: 100%;
            color: white;
        }
        
        #cuadro {
            height: 50%;
            width: 50%;
            float:
        }
        
        .btn-group {
            width: 100%;
            background: black;
        }
        
        .btn-group .button {
            background-color: black;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            float: left;
        }
        
        .btn-group .button:hover {
            text-decoration: underline;
        }
        
        #icono_menu {
            float: right;
        }
        
        #section1 {
            padding-top: 50px;
            height: 500px;
            color: #fff;
            background-color: #1E88E5;
        }
        
        #section2 {
            padding-top: 50px;
            height: 500px;
            color: #fff;
            background-color: #1E88E5;
        }












